<h1>Create A New Activity</h1>

<form data-id="{{this.id}}" class="update-form">

  <div class="form-group">
    <label for="name">Activity Name</label>
    <input type="text" id="name" name="name" value="{{this.name}}">
    <label for="time">Suggested Time</label>
    <input type="text" id="time" name="time" value="{{this.time}}">
    <label for="location">Suggested Location</label>
    <input type="text" id="location" name="location" value="{{this.location}}">
  </div>

  <div class="form-group">
    <label for="invitees">Enter the emails of people you want to invite, separated by commas</label>
    <textarea id="invitees" name="invitees" >{{this.invitees}}</textarea>
    <label for="notes">Add any notes.</label>
    <input id="notes" name="notes" >{{this.notes}}</textarea>
  </div>

  <button type="submit">Create Activity</button>
</form>
{{!-- Right now, this is just a static form where nothing works. Feel free to style as you like. --}}